@import "../../styles/variables.scss";
.input{
  font-size: 20px;
  padding: 5px 10px;
  border: 2px solid $color-dark-blue;
  width: max-content;
  color: $color-dark-blue;
  border-radius: 5px;
  background-color: #fff;
  z-index: 2;
  width: 200px;
  cursor: pointer;
}
.message{
  color: $color-red;
  margin: 0;
  margin-top: 5px;
  font-size: 18px;
  font-weight: 300;
  transition: .3s;
}
.messageInfo{
  color: $color-dark-blue;
  margin: 0;
  margin-top: 5px;
  font-size: 16px;
  max-width: 220px;
  font-weight: 300;
}
.inactive{
  border-color: $color-grey;
  color: $color-grey;
  pointer-events: none;
}
.label{
  font-size: 18px;
  margin: 15px 0 5px 0;
  color: $color-dark-blue;
}