@import "../../styles/variables.scss";
.main{
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 90px;
}
.headers{
  margin: 30px 0;
  display: flex;
  align-items: center;
}
.mainHeader{
  font-size: 30px;
  font-weight: 900;
  color: $color-dark-blue;
  margin: 0 20px 0 0;
}
.subHeader{
  font-size: 25px;
  font-weight: 700;
  color: $color-dark-blue;
  margin-bottom: 15px;
  margin-top: 0;
}
.components{
  display: flex;
  margin-bottom: 40px;
}
.component{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 150px;
  margin-right: 40px;
}
.name{
  font-size: 20px;
  color: $color-dark-blue;
  font-weight: 500;
  margin: 0;
}
.amount{
  color: $color-dark-blue;
  padding: 5px 0;
  border-radius: 5px;
  border: 2px solid $color-dark-blue;
  margin: 10px 0 0 0;
  font-weight: 300;
  font-size: 40px;
  text-align: center;
}
.low{
  color: $color-red;
  border-color: $color-red;
}